@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*,*:before,*:after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#root{
  min-height: 100vh;
}

html{
    font-size: 62.5%;
    height: 100%;
    overflow: auto;
    @media screen and (max-width: 47rem) {
        font-size: 51.25%;
    }
}


body{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    background: #F1E4C3;
    height: fit-content;
    min-height: 100vh;
    line-height: 1;
}
