.profile-select{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-select__logout{
    position: absolute;
    top: 4rem;
    right: 4rem;
    font-family: inherit;
    border: none;
    border-radius: 3px;
    background-color: #C6A969;
    color: #F1E4C3;
    padding: 0.6rem 1.2rem;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover{
        background-color: hsl(41, 45%, 49%);
    }
}
.profile-select__title{
    font-size: 3.6rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #C6A969;
}
.profile-select__profiles{
    display: flex;
    gap: 2.4rem;
}